body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: pink;
}

.hidden{
    display: none !important;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid black;
    text-align: center;
}

.pause-container{
    height: 100%;
    width: 100%;
    background-color: rgba(255, 0, 0, 0.27);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    backdrop-filter: blur(10px);
    flex-direction: column;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: hotpink;
    color: white;
    border: 2px solid rgb(130, 52, 65);
    border-radius: 5px;
    cursor: pointer;
    margin: 20px;
    user-select: none;
}

button:hover {
    background-color: rgb(156, 52, 104);
}

.group{
    display: flex;
    width: 500px;
    justify-content: center;
}

.word-group-container{
    justify-content: center;
    display: grid;
}

.word{
    border: 2px solid rgb(0, 73, 51);
    background-color: rgb(65, 198, 149);
    border-radius: 10px;
    width: 100px;
    height: 40px;
    padding: 10px;
    margin: 5px;
    user-select: none;
    justify-content: center;
    display: flex;
    align-items: center;
}

.word:hover{
    background-color: rgba(65, 198, 149, 0.439);
    cursor: pointer;
}

.selected{
    border: 2px solid rgb(65, 198, 149);
    background-color: rgb(255, 255, 255);
}

.grouped:hover{
    background-color: rgba(108, 206, 255, 0.761);
}

.grouped{
    border: 2px solid rgb(0, 81, 146);
    background-color: rgb(108, 206, 255);
}

.group-title-0,
.group-title-1,
.group-title-2,
.group-title-3{
    /* border: 2px solid rgb(0, 73, 51);
    background-color: rgb(65, 198, 149); */
    color:rgb(0, 81, 146);
}

.guesses-container{
    display: flex;
    justify-content: center;
}

.guess0,
.guess1,
.guess2,
.guess3 {
    height: 30px;
    width: 30px;
    background-color: rgba(65, 198, 149);
    border-radius: 30px;
    margin: 10px;

}